@import "../../services/helpers/variables";

.movie-details {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 35px 0 65px;
  background-color: $color-darkgrey;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 50px;

    .search-button {
      width: 28px;
      height: 29px;
      background-image: url('../../services/images/search-icon.svg');
      background-size: contain;
      background-color: transparent;
      cursor: pointer;
      border: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-self: center;
    width: 90%;
    padding: 20px 40px 0;

    &-image {
      width: 200px;
      margin-right: 50px;
      & img{
        width: 100%
      }
    }

    &-info {
      width: 60%;

      .content__header {
        display: flex;
        flex-flow: row nowrap;
        font-size: 32px;
        color: $color-white;

        .content__title {
          padding-right: 60px;
          letter-spacing: 2px;
        }

        .content__rating {
          font-size: 24px;
          border: 1px solid $color-white;
          border-radius: 50%;
          padding: 10px;
          color: lightgreen;
        }
      }

      .content__genre {
        display: flex;
        align-self: flex-start;
        color: $color-white;
        span {
          margin-right: 10px;
        }
      }

      .content__info {
        display: flex;
        flex-flow: row nowrap;
        color: $color-pink;
        font-size: 32px;
        padding: 15px 0 ;

        .content__releaseDate {
          padding-right: 60px;
        }
      }

      .content__description {
        color: $color-white;
        letter-spacing: 0.009px;
        font-size: 14px;
        text-align: left;
      }
    }
  }
}